.feature-list {
  list-style: none;
  padding: 0;

  & .feature {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    &__icon {
      width: 35px;
      height: 35px;
    }

    &__text {
      margin-left: 10px;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .feature:last-child {
    margin-bottom: 0;
  }
}
