.navigation-layout {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;

  & > .navigation-content {
    width: 340px;
    border-right: 1px solid #f4f7fa;
  }

  .body-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .content-container {
      flex: 1;
    }
  }
}
