.deck-creator {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 0 50px 60px;
  background-color: #f4f7fa;

  & > .right-slide {
    height: 100%;
    width: 40%;
    background-color: #5f81f4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  & > .inner-container {
    width: 70%;
    height: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;

    & > .logo-container {
      display: flex;
      align-items: center;
      margin: 20px 0;

      & > .logo-img {
        width: 50px;
        height: 50px;
      }

      & > .logo-text {
        font-weight: 700;
        margin: 0;
        padding: 0;
        margin-left: 10px;
        font-size: 29px;
      }
    }

    & > .form-container {
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    }
  }
}
