.category-container {
  border-right: 2px solid #f4f7fa;
  width: 340px;
  min-width: 340px;
  height: 100%;
  padding-top: 20px;
  padding-left: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .user-dropdown {
    margin-bottom: 50px;
  }

  & .logo {
    display: flex;
    align-items: center;
    position: relative;

    &__img {
      width: 50px;
    }

    &__text {
      font-weight: 700;
      font-size: 23px;
      position: absolute;
      left: 70px;
    }
  }

  & .title {
    margin: 40px 0 20px 0;
    font-weight: 700;
    font-size: 30px;
  }

  & .category-list {
    list-style: none;
    margin: 0;
    padding: 0;

    & .category {
      font-size: 17px;
      margin-bottom: 20px;
      color: #b5b3b0;
      font-weight: 500;
      cursor: pointer;

      &--active {
        border-right: 4px solid #5f81f4;
        color: #3d3b3c;
      }
    }

    & .category:last-child {
      margin-bottom: 0;
    }

    & .all-categories {
      color: #5f81f4;
    }
  }
}
