.deck-list {
  width: 100%;
  height: 100%;

  list-style: none;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f9fafc;
  padding: 25px 25px 0 25px;

  &__item {
    margin: 20px 0;
  }

  &__item:first-child {
    margin-top: 0;
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}
